<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="user-info mt-4">
        <div class="col-4-offset d-flex justify-content-center"><%= attachment_image_tag @user, :profile_image, size: "72x72", fallback: "no-user-image.png" %></div>
        <div class="col-4-offset d-flex justify-content-center mt-2"><%= @user.name %></div>
        <div class="col-10-offset d-flex justify-content-center"><%= @user.introduction %></div>
      </div>
    </div>
    <div class="col-8">
      <!--ポートフォリオの一覧＆投稿ブログの一覧-->
    </div>
  </div>
</div>